.about-me-pic {
    border: 2px solid white;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 62px 31px 0px -3px #2b7cc438;
    /* box-shadow: 0 0 black; */
    /* margin-right: 56px!important; */
}

.bio-words {
    font-size: 1rem;
}